{% extends 'base.html' %}

{% block title %}
    Материнская плата
{% endblock %}


{% block content %}
<div class=text>
<h1>Материнская плата</h1>

<a name="chap1"><h2>Устройство материнской платы</h2></a>

<p><span class="def">Системная (материнская) плата</span> (англ. - <span class="eng">motherboard, mainboard</span>) - это основная плата, к которой подсоединяются все части компьютера, устанавливается в системном блоке. Главная задача материнской платы - соединить и обеспечить совместную работу всех элементов компьютера.</p>
<p>Основой любой современной материнской платы является набор системной логики, который чаще называют чипсетом. <span class="def">Чипсет</span> - это совокупность микросхем, обеспечивающих согласованную совместную работу составных частей компьютера и их взаимодействие между собой. Чипсет, как правило, состоит из двух основных микросхем, чаще всего называемых "северным" и "южным" мостами.</p>
<p> <a href="{{ url_for('static', filename='images/bridges.jpg') }}"><img class="intext" src="{{ url_for('static', filename='images/bridges.jpg') }}" width=250px height=178px title="Северный и южный мосты"></a> <span class="def">Северный мост</span> (<span class="eng">North bridge</span>, системный контроллер) - это часть системной логики материнской платы, обеспечивающая работу основных узлов компьютера - центрального процессора, оперативной памяти, видеокарты. В некоторых случаях северный мост может содержать интегрированный графический процессор.</p>
<p><span class="def">Южный мост</span> (<span class="eng">South bridge</span>, <span class="eng">ICH (I/O controller hub)</span>, периферийный контроллер, контроллер ввода-вывода) - обеспечивает подключение к системе менее скоростных устройств, не требующих высокой пропускной способности - жёсткого диска, сетевых плат, аудиоплаты и других дополнительных устройств. Клавиатура и мышь также замыкаются на южный мост.</p>
<p><a href="{{ url_for('static', filename='images/ROM1.jpg') }}"><img class="intext" src="{{ url_for('static', filename='images/ROM1.jpg') }}" width=250px height=174px title="Микросхема ПЗУ"></a>Системная плата включает еще одну важную часть - <span class="def">микросхему ПЗУ</span> (ее часто называют <span class="eng">ROM BIOS</span>), которая замыкается на южный мост чипсета. В этой микросхеме хранится базовая программа управления компьютером, называемая базовой системой ввода-вывода и больше известна как <span class="eng">BIOS (basic input-output system)</span>. В отличии от операционной системы и другого программного обеспечения, устанавливаемых на жесткий диск, <span class="eng">BIOS</span> доступен компьютеру без подключения винчестера и остальных элементов. Это программное обеспечение определяет порядок взаимодействия составных частей компьютера между собой.</p>

<a name="chap2"><h2>Основные разъемы материнской платы</h2></a>

<p>Кроме разъема центрального процессора (сокета), системная плата содержит другие разъемы:
<ul>
<li>Слоты модулей ОЗУ, к которым подсоединяются модули оперативной памяти соответствующего типа;
<li><span class="eng">PCI</span> (<span class="eng">Peripheral component interconnect</span> - взаимосвязь периферийных компонентов) - это шина с небольшой пропускной способностью, которой, однако, достаточно для подключения многих устройств (<span class="eng">TV</span>-тюнеров, звуковых карт, карт для захвата видео, сетевых карт, <span class="eng">Wi-Fi</span>-модулей и др.);
<li><span class="eng">РСI-Express</span> - быстрая шина для видеокарты, создана с использованием программной модели <span class="eng">PCI</span>.
<li><span class="eng">USB</span> - разъем для подключения периферийных устройств.
<li><span class="eng">SATA</span> (<span class="eng">Serial Advanced Technology Attachment</span> - цифровое подсоединение по передовой технологии) - служит для подсоединения накопителей информации (жестких дисков или <span class="eng">SSD</span>, оптических приводов).
<li><span class="eng">PATA (Parallel ATA)</span> - является предшественником <span class="eng">SATA</span>. <span class="eng">PATA</span> предназначен для подключения старых носителей информации и поскольку последние еще продолжают служить своим владельцам, этот интерфейс сохраняется на новых материнских платах для обеспечения совместимости;
<li><span class="eng">Floppy</span> - разъем для подключения привода дискеты 3,5. Как ни странно, эти носители все еще не полностью вышли из употребления;
<li>Разъемы для подключения блока питания. Основной разъем, питающий все компоненты (<span class="eng">ATX</span>) имеет 24 контакта. Питание центрального процессора может иметь 4 или 8 контактов (в зависимости от мощности процессора, на который рассчитана материнская плата).
<li>Игольчатые гребенки, предназначенные для подключения передней панели корпуса (кнопки <span class="eng">Power</span>, <span class="eng">Reset</span>, индикаторы процессора и жестких дисков, наушники, микрофон, <span class="eng">USB</span>), куллеров (вентиляторов) процессора, корпуса, жестких дисков и др.
<li>Разъемы звуковой карты, сетевого адаптера (<span class="eng">RJ45</span>) и др.
</ul>

<div class=pic>
    <a href="{{ url_for('static', filename='images/inputs.jpg') }}"> <img src="{{ url_for('static', filename='images/inputs.jpg') }}" width="100%" height="100%" title="Разъёмы материнской платы" alt="Разъёмы материнской платы"> </a>
</div>

<div class=underpic>Разъёмы материнской платы</div>

</p>

<a name="chap3"><h2>Форм-фактор материнской платы</h2></a>
<p>По размеру системные платы бывают разными. Существует несколько стандартов, которые принято называть форм-фактором материнской платы. Кроме размеров, форм-фактор подразумевает определенную схему расположения мест крепления платы, интерфейсов шин, портов ввода-вывода, сокета процессора, разъема для подключения блока питания и слотов установки модулей ОЗУ. Наиболее распространенными являются <span class="eng">АТХ</span> (305 x 244 мм), <span class="eng">microATX</span> (244 x 244 мм) и <span class="eng">mini-ITX</span> (150 x 150 мм).</p>

<div class=pic_form>
    <a href="{{ url_for('static', filename='images/form.jpg') }}"> <img src="{{ url_for('static', filename='images/form.jpg') }}" width="100%" height="100%" title="Форм-фактор материнской платы" alt="Форм-фактор материнской платы"> </a>
</div>

<div class=underpic>Форм-фактор материнской платы</div>

</div>

<div class=list>
    <a href="#chap1" class="work"><div class=list0>
    Устройство материнской платы
    </div></a>
    <a href="#chap2" class="work"><div class=list0>
    Основные разъемы материнской платы
    </div></a>
    <a href="#chap3" class="work"><div class=list0>
    Форм-фактор материнской платы
    </div></a>

</div>

</div>
</div>
{% endblock %}
