{% extends 'base.html' %}

{% block title %}
    Системная память
{% endblock %}


{% block content %}
<div class=text>
<a name="chap4"><h1>Системная память</h1></a>
<p><span class="def">Внутренняя (системная) память</span> - это запоминающее устройство, напрямую связанное с процессором и предназначенное для хранения выполняемых программ и данных, непосредственно участвующих в вычислениях. Обращение к внутренней памяти ПК осуществляется с высоким быстродействием, но она имеет ограниченный объем, определяемый системой адресации машины. Внутренняя память, в свою очередь, делится на постоянную (ПЗУ) и оперативную (ОЗУ) память.
</p>
<p>Внутренняя память имеет несколько основных характеристик:
<ul>
<li>Объем памяти - максимальное количество информации, которое может быть помещено в эту память. Измеряется в килобайтах, мегабайтах и т.д.
<li>Время доступа к памяти - минимальное время, достаточное для размещения в памяти единицы информации. Измеряется в наносекундах.
<li>Плотность записи - количество информации, записанное на единице поверхности носителя.
</ul>
</p>

<a name="chap5"><h2>Постоянная намять</h2></a>
<p><span class="def">Постоянная память</span> обеспечивает хранение и выдачу информации. Содержимое постоянной памяти заполняется при изготовлении ПК и не подлежит изменению в обычных условиях эксплуатации. В постоянной памяти хранятся часто используемые (универсальные) программы и данные, некоторые программы операционной системы, программы тестирования оборудования ПК и др. При выключении питания содержимое постоянной памяти сохраняется. Такой вид памяти называется <span class="eng">ROM</span> (<span class="eng">Read Only Memory</span> - память только для чтения), или постоянное запоминающее устройство (ПЗУ). Значительная часть программ, хранящихся в <span class="eng">ROM</span>, связана с обслуживанием ввода/вывода, поэтому ее называют <span class="eng">ROM BIOS</span> (<span class="eng">Basic Input-Output System</span> - базовая система ввода/вывода).
</p>
<p>Микросхемы постоянной памяти размещаются на материнской плате.
</p>
<a href="{{ url_for('static', filename='images/ROM.jpg') }}"><img class="intext" src="{{ url_for('static', filename='images/ROM.jpg') }}" width=407px height=173px title="Микросхема масочного ПЗУ NEC D23128C в компьютере ZX Spectrum"></a>

<p>Для упрощения разработки новых устройств, основанных на ПЗУ, были выпущены программируемые ПЗУ, которые можно было программировать в условиях эксплуатации. Следующая разработка этой линии - стираемое программируемое ПЗУ, которое можно не только программировать в условиях эксплуатации, но и стирать с него информацию, подвергнув его воздействию сильного ультрафиолетового света в течение 15 минут. Следующий этап - электронно-перепрограммируемое ПЗУ, с которого можно стирать информацию, прилагая к нему импульсы, и которое не нужно для этого помещать в специальную камеру, чтобы подвергнуть воздействию ультрафиолетовых лучей. Кроме того, чтобы перепрограммировать данное устройство, его не нужно вставлять в специальный аппарат для программирования, в отличие от стираемого программируемого ПЗУ.
</p>
<div class=pic_pzuf>
    <a href="{{ url_for('static', filename='images/RAMF.jpg') }}"> <img class="pic" src="{{ url_for('static', filename='images/RAMF.jpg') }}" width="100%" height="100%" title="Микросхема EPROM Intel 1702 с ультрафиолетовым стиранием" alt="Микросхема EPROM Intel 1702 с ультрафиолетовым стиранием"> </a>
</div>
<div class=underpic>Микросхема EPROM Intel 1702 с ультрафиолетовым стиранием</div>

<a name="chap6"><h2>Оперативная память</h2></a>
<p><span class="def">Оперативная память, или оперативное запоминающее устройство</span> (ОЗУ) по объему составляющая большую часть внутренней памяти, служит для приема, хранения и выдачи информации. При выключении питания содержимое оперативной памяти в большинстве случаев теряется. Эта память называется оперативной, поскольку является самой быстродействующей запоминающей системой компьютера и работает так быстро, что процессору практически не приходится ждать при чтении данных из памяти или записи в нее. Оперативная память обозначается <span class="eng">RAM</span> (<span class="eng">Random Access Memory</span> - память с произвольным доступом). Существует два типа ОЗУ: статическое и динамическое.
</p>
<p>Процессор имеет возможность выполнять программы только после того, как они загружены в оперативную рабочую память, т.е. в память, доступную для программ пользователя. Процессор имеет непосредственный доступ к данным, находящимся в оперативной памяти, а к внешней памяти (на гибких или жестких дисках) - через буфер, являющийся также разновидностью оперативной памяти. Работа программ, загруженных с внешнего носителя, возможна только после того, как она будет скопирована в <span class="eng">RAM</span>.
</p>
<p>Однако оперативная память имеет существенный недостаток, заключающийся в том, что она временная, т.е. при отключении питания оперативная память полностью очищается. При этом данные, не записанные на внешний носитель, будут утеряны. Основная задача <span class="eng">RAM</span> - предоставлять необходимую информацию в виде двоичных кодов по запросам процессора, т.е. данные в любой момент должны быть доступны для обработки. Оперативная память относится к категории динамической памяти: ее содержимое остается неизменным в точение короткого промежутка времени, что требует периодического обновления памяти. Из-за этого динамическая память работает медленнее статической
</p>
<p>Основными характеристиками микросхем памяти различных типов являются:
<ul>
<li>объем
<li>	разрядность
<li>	быстродействие
<li>	временная диаграмма (циклограмма)
</ul>
</p>
<p>Объем установленной в компьютере оперативной памяти определяет, с каким программным обеспечением можно на нем работать. При недостаточном объеме оперативной памяти многие программы либо не будут работать совсем, либо будут работать крайне медленно.
</p>
<p>Оперативная память изготавливается в виде небольших печатных плат с рядами контактов, на которых размещаются интегральные схемы памяти.
</p>
<p>Физически ОЗУ строится на микросхемах динамической памяти DRAM (<span class="eng">Dynamic Random Access Memory</span>)</a>. </p>

<div class=pic>
    <a href="{{ url_for('static', filename='images/RAM.jpg') }}"> <img class="pic" src="{{ url_for('static', filename='images/RAM.jpg') }}" width="100%" height="100%" title="Оперативная память" alt="Операвивная память"> </a>

</div>

<div class=underpic>Оперативная память</div>

<h3>Принцип работы ОЗУ</h3>
<p>Так как наименьшей единицей памяти является бит, в котором хранится либо 0, либо 1, то отдельные биты объединяются в ячейки. У каждой ячейки есть свой адрес, и наименьшей адресуемой ячейкой является байт. При необходимости процессор может обратиться к любой ячейке, используя ее адрес, который передается по адресной шине. Адресация байтов начинается с нуля.
</p>
<p>Обычно по шине передаются не отдельные байты, а машинные слова, состоящие из нескольких байтов. Размер машинного слова зависит от разрядности процессора. Например, для 16-разрядного процессора размер машинного слова будет равен 2 байтам. Адрес машинного слова равен адресу младшего байта, входящего в его состав.
</p>

<a name="chap7"><h2>Кэш-память</h2></a>
<p><span class="def">Кэш-память</span> - сверхбыстродействующая память, обеспечивающая ускорение доступа к оперативной памяти на быстродействующих компьютерах. Она располагается между микропроцессором и оперативной памятью и хранит копии наиболее часто используемых участков оперативной памяти. При обращении микропроцессора к памяти сначала производится поиск данных в кэш-памяти. Поскольку время доступа к кэш-памяти в несколько раз меньше, чем к обычной памяти, а в большинстве случаев необходимые микропроцессору данные уже содержатся в кэш-памяти, среднее время доступа к памяти уменьшается.
</p>
<p>Физически кэш-память основана на микросхемах статической памяти SRAM (<span class="eng">Static Random Access Memory</span>)</a>.
</p>

<div class=pic>
    <a href="{{ url_for('static', filename='images/cache.jpg') }}"> <img class="pic" src="{{ url_for('static', filename='images/cache.jpg') }}" width="100%" height="100%" title="Четыре микросхемы кэша на материнской плате для процессоров семейства i486" alt="Четыре микросхемы кэша на материнской плате для процессоров семейства i486"> </a>
</div>
<div class=underpic>Четыре микросхемы кэша на материнской плате для процессоров семейства i486</div>

<a name="chap8"><h2>CMOS-RAM</h2></a>
<p><span class="def">CMOS-RAM</span> - участок памяти для хранения параметров конфигурации компьютера. Называется так в связи с тем, что эта память обычно выполняется по технологии <span class="eng">CMOS</span>, обладающей низким энергопотреблением. Содержимое <span class="eng">CMOS-RAM</span> не изменяется при выключении электропитания компьютера. Эта память располагается на контроллере периферии, для электропитания которого используются специальные аккумуляторы.
</p>

<a name="chap9"><h2>Видеопамять</h2></a>
<p><span class="def">Видеопамять</span> в <span class="eng">IBM</span> <span class="eng">PC</span>-совместимых компьютерах - память, используемая для хранения изображения, выводимого на экран монитора. Эта память обычно входит в состав видеоконтроллера - электронной схемы, управляющей выводом изображения на экран монитора.
</p>
</div>

<div class=list>
   <a href="#chap4" class="work"><div class=list0>
Системная память
</div></a>
<a href="#chap5" class="work"><div class=list0>
Постоянная память
</div></a>
<a href="#chap6" class="work"><div class=list0>
Оперативная память
</div></a>
<a href="#chap7" class="work"><div class=list0>
Кэш-память
</div></a>
<a href="#chap8" class="work"><div class=list0>
CMOS-RAM
</div></a>
<a href="#chap9" class="work"><div class=list0>
Видеопамять
</div></a>
</div>

</div>
</div>
{% endblock %}
